header {
  display: block;
  background-color: black;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 3px;
  text-align: center;
  color: white;
}

header h1 {
  display: inline-block;
}

header button {
  position: absolute;
  right: 25px;
  top: 48px;
}

footer {
  position: fixed;
  display: block;
  background-color: black;
  padding: 10px 20px;
  left: 5px;
  right: 5px;
  bottom: 0;
  border-radius: 3px 3px 0 0;
  text-align: center;
  color: white;
}

.welcome-hand {
  -webkit-animation-name: color, spin;
  -webkit-animation-duration: 2s, 4s;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-direction: alternate;
}
.splash {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  float: right;
}

.picThumbnail {
  float: left;
  font-size: 12px;
  border: 1px solid black;
  padding: 20px;
  margin: 5px;
  width: 300px;
  height: 300px;
}

.thumbImg {
  max-width:300px;
  max-height: 300px;
  width:auto;
}

.main {
  padding-bottom: 30px;
}

.odd {
  background: black;
  color: white;
}

/* Animation code */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes color {
  0%   {
    background-color: red;
  }
  33%  {
    background-color: yellow;
  }
  100% {
    background-color: green;
  }
}
